---
---

.people-list .box-content {
  height: 300px;
}

#blog p {
  padding: 0px;
}

.corporate-data-well {
	padding: 0;
	p, h5 {
		padding: 7px 10px;
		margin: 0;
	}
	h5 {
		background-color: #ededed;
		font-weight: 400;
	}
	.btn {
		padding: 6px 10px;
	}
	.fa {
		padding-right: 3px;
	}
}

.corporate-data-section {
	padding-top: 40px;
}

.corporate-data-search {
	background-color: #f7f7f7;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 10px;
	padding-bottom: 5px;
	margin-bottom: 10px;
}