---
---

#header {
  height: 73px;
  position: fixed;
  left: 0px;
  right: 0px;
  z-index: 999;
  top: 0px;
  background-color: white;
  #logo {
  	display: none;
	  @media (max-width:990px) {
	  	display: block;
	  }
	  @media (min-width:1125px) {
	    display: block;
	  }
  }
}

body {
  margin-top: 73px;
}

.people-list .box-content {
  height: 300px;
}

#blog p {
  padding: 0px;
}

.managed-services {
	i {
		vertical-align: middle;
		color: #444;
	}
	h4 {
		padding-top: 10px;
	}
	.col-sm-6 {
		border: 10px solid #fff;
		background-color: #f2f2f2;
	}
	.email-us {
		background-color: #fce3a3;
		color: #8a6d3b;
		p {
			font-size: 1.2em;
		}
	}
}

.new-name {
	background-color: #9ed421;
	color: #fff;
	font-size: 25px;
	text-align: center;
	padding: 20px;
	a {
		color: #fff;
		font-weight: 600;
	}
}
