---
layout: default
title: About
---
<!-- PAGE TOP -->
<section class="page-title">
	<div class="container">

		<header>
			<h2><!-- Page Title -->
				<strong>About</strong> Code for South Africa
			</h2><!-- /Page Title -->
		</header>
	</div>			
</section>
<!-- /PAGE TOP -->


<!-- CONTENT -->
<section>
	<div class="container">
		<a class="anchor" name="what_we_do"></a><h3><strong>What</strong> we do</h3>
		<div class="row">
			<div class="col-md-10">
				<div class="row featured-box-minimal">
					<!--Service One -->
					<div class="col-md-6">
						<h4><img src="/images/icons_open_data.png"></h4>
						<h4>Open Data</h4>
						<p>We love data. We live it, eat it, drink it and dream about it. We believe that data (especially government data) should be open. Not just for personal use. Data should be shareable, mash-able, available for commercial use. Our goal is to promote the release of data under an <a href="http://opendatacommons.org/licenses/odbl/">open data licence</a> to make it available to everyone who wants it.</p>
					</div>

					<!--Service Two -->
					<div class="col-md-6">
						<img src="/images/icons_peoplegov.png" />
						<h4>Connecting People to Government</h4>
						<p>Data is for the elite. Without context it is useless. We want to use liberated data to improve lives and empower people to make informed choices. We hope to build an active citizenry by increasing interactions between the public and government using applications that really matter to people.</p>
					</div>
				</div>
				<div class="row featured-box-minimal">
					<!--Service Three -->
					<div class="col-md-6">
						<img src="/images/icon_communityoutreach.png" />
						<h4>Community Outreach</h4>
						<p>Yes, we're rabid about our beliefs but without a community of data consumers, open data won't become part of the national discourse. We work with civil society, journalists, government and straight up hackers, running workshops, hosting meetings and generally getting people excited about how they can contribute to making South Africa a better place.</p>
					</div>

					<!--Service Four -->
					<div class="col-md-6">
						<img src="/images/icon_civilsociety.png" />
						<h4>Supporting Civil Society</h4>
						<p>Civil Society Organisations in the transparency and governance space toying with technology solutions to their advocacy work. They are faced with two choices, either build their own technical capacity in-house or contract to commercial programmers. We feel that neither of those solutions are satisfactory. We fill the gap by providing technology support to civil society while building and eco-system of data consumers and producers.</p>
					</div>
				</div>

			</div><!--end of column-->
		</div><!--end of row-->

		<!-- the team -->
		<a class="anchor" name="team"></a><h3><strong>Who </strong>we are</h3>
		<div class="row margin-top60">
			{% for person in site.data.our-team %}
			{% if person.type == "current" %}
			<div class="col-sm-4 col-md-3"><!-- member -->
				<div class="box-content thumbnail text-center">
					<span class="item-image">
						<img class="img-responsive" src="{{person.image}}" alt="">
					</span>
					<div class="caption text-left">

						<div class="clearfix margin-bottom10">
							<div class="pull-left">
								<h4 class="nomargin">{{person.name}}
									<small class="block">{{person.pos}}</small>
								</h4>
							</div>
							<div class="pull-right">
								{% if person.social == "none" %}
								
								{% else %}
								<a href="{{person.social}}" target="_blank" class="btn ico-only btn-twitter btn-xs"><i class="fa fa-twitter"></i></a>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div><!-- /member -->
			{% else %}
			{% endif %}
			{% endfor %}
		</div>

		<div class="callout styleBackgroundColor"><!-- add "styleBackgroundColor" class for colored background and white text OR "dark" for a dark callout -->
			<div class="container">

				<div class="row">
					<div class="col-md-12"><!-- title + shortdesc -->
						<h3 class="text-center">People we have worked with in the past</h3>
					</div>
				</div>
			</div>
		</div>

		<div class="row margin-top60"><!--Alumni-->
			{% for person in site.data.our-team %}
			{% if person.type == "alumni" %}
			<div class="col-sm-4 col-md-4"><!-- member -->
				<div class="box-content thumbnail text-center">
					<span class="item-image">
						<img class="img-responsive" src="{{person.image}}" alt="">
					</span>
					<div class="caption text-left">

						<div class="clearfix margin-bottom10">
							<div class="pull-left">
								<h4 class="nomargin">{{person.name}}
									<small class="block">{{person.pos}}</small>
								</h4>
							</div>
							<div class="pull-right">
								{% if person.social == "none" %}
								
								{% else %}
								<a href="{{person.social}}" target="_blank" class="btn ico-only btn-twitter btn-xs"><i class="fa fa-twitter"></i></a>
								{% endif %}
							</div>

						</div>
					</div>
				</div>
			</div><!-- /member -->
			{% else %}
			{% endif %}
			{% endfor %}
		</div><!--end of alumni-->

		<div class="callout styleBackgroundColor"><!-- add "styleBackgroundColor" class for colored background and white text OR "dark" for a dark callout -->
			<div class="container">

				<div class="row">
					<div class="col-md-12"><!-- title + shortdesc -->
						<h3 class="text-center">Smart people we consult</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="row margin-top60"><!--Smart people we consult -->
			{% for person in site.data.our-team %}
			{% if person.type == "consultant" %}
			<div class="col-sm-4 col-md-3"><!-- member -->
				<div class="box-content thumbnail text-center">
					<span class="item-image">
						<img class="img-responsive" src="{{person.image}}" alt="">
					</span>
					<div class="caption text-left">

						<div class="clearfix margin-bottom10">
							<div class="pull-left">
								<h4 class="nomargin">{{person.name}}
									<small class="block">{{person.pos}}</small>
								</h4>
							</div>
							<div class="pull-right">
								{% if person.social == "none" %}
								
								{% else %}
								<a href="{{person.social}}" target="_blank" class="btn ico-only btn-twitter btn-xs"><i class="fa fa-twitter"></i></a>
								{% endif %}
							</div>

						</div>
					</div>
				</div>
			</div><!-- /member -->
			{% else %}
			{% endif %}
			{% endfor %}
		</div>
		<!-- /the team -->

	</div>
</section>
<!-- /CONTENT -->


<!-- CALLOUT -->
<div class="callout styleBackgroundColor"><!-- add "styleBackgroundColor" class for colored background and white text OR "dark" for a dark callout -->
	<div class="container">

		<div class="row">

			<div class="col-md-9"><!-- title + shortdesc -->
				<h3>Want to be part of our team?</h3>
				<p>If so, click to join now, and be part of our dynamic team!</p>
			</div>

			<div class="col-md-3"><!-- button -->
				<a href="/careers.html" class="btn btn-primary btn-lg">Join Our Team</a>
			</div>
		</div>

	</div>
</div>
<!-- /CALLOUT -->