---
layout: default
title: Municipal Finance Data
category: gov cso community
image: /images/projects/municipal.jpg
extra: 2015
link: /projects/municipal-finance.html
---
<!-- PAGE TOP -->
<section class="page-title">
	<div class="container">

		<header>
			<ul class="breadcrumb"><!-- breadcrumb -->
				<li><a href="/projects.html">Our Projects</a></li>
				<li class="active">{{page.title}}</li>
			</ul>
			<h2><!-- Page Title -->
				{{page.title}}
			</h2><!-- /Page Title -->

		</header>

	</div>			
</section>
<!-- /PAGE TOP -->

<!-- CONTENT -->
<section>
	<div class="container">

		<div class="row">
			<div class="col-sm-6 col-md-7">
				<div class="owl-carousel controlls-over product-image" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
					<div>
						<iframe id="ytplayer" type="text/html" width="100%" height="300"
						src="https://www.youtube.com/embed/HYfLQg4-kVs?rel=0&color=white&iv_load_policy=3&theme=light"
						frameborder="0" allowfullscreen></iframe>
					</div>
				</div>

			</div>

			<div class="col-sm-6 col-md-5">

				<h3>About</h3>
				<p>We aim to provide civil society, media organisations, researcher and citizens with the information that they need in order to promote accountability within government by opening access to municipal financial data.</p>

				<a data-toggle="tooltip" data-placement="bottom" title="The focus areas of the dataquest" href="https://docs.google.com/document/d/1EeWeyozSs66HY2a1V-HjwT4_QvTUPLzq2wrn2a-sI0E/edit?ts=5714c567" target="_blank" class="btn btn-primary btn-lg btn-margin-top"><i class="fa fa-dot-circle-o"></i> Focus Areas</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p class="dropcap">Government budgets are a blueprint for how public resources are going to be used in order to satisfy public needs. Transparent budgets, expenditure and revenues, and other financial data enable people to access information on the sources of revenue and understand how that money is spent. This empowers citizens to judge whether or not their government officials are effectively spending public resources.  Since a significant number of the decisions that affect our daily lives are made at the municipal-level, a focus on municipal financial data provides an opportunity to influence decisions that affect the majority of people.</p>
				<p>The National Treasury through its City Support Programme is seeking to open municipal financial data and make it widely available in order to strengthen civic oversight and public accountability as well as to promote entrepreneurship and Code for South Africa has been contracted to assist to this end.</p>
			</div>

		</div>
		<section>
			<h2 class="text-center">Approach</h2>
			<div class="divider"><!-- divider -->
				<i class="fa fa-chevron-down"></i>
			</div>
			<div class="row featured-box-minimal">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<h4><i class="fa fa-question fa-fw" aria-hidden="true"></i> Understanding the problem space: Accountability Workshops</h4>
					<ul class="list-icon spaced check-circle">
						<li>We invited civil society organisations and journalists across Johannesburg, Durban and Cape Town to join us and National Treasury representatives in unpacking how best to use the available data to drive improved municipal performance</li>
						<li>These workshops helped frame <a href="https://docs.google.com/document/d/1EeWeyozSs66HY2a1V-HjwT4_QvTUPLzq2wrn2a-sI0E/edit?ts=5714c567" target="_blank">focus areas</a> for the subsequent dataquest
						</li>
						<li>View the <a href="https://drive.google.com/a/code4sa.org/file/d/0B8J3h5Thcv_GOWNPZXZWajh6T1U/view" target="_blank">session handout</a> as well as the presentations <a href="https://drive.google.com/a/code4sa.org/file/d/0B8J3h5Thcv_Galg2a2Q0bkwxa2M/view" target="_blank">describing the available data</a> and <a href="https://drive.google.com/a/code4sa.org/file/d/0B8J3h5Thcv_GS1VWaXdaUXBlVW8/view" target="_blank">how budget data could be used</a> to hold government accountable
						</li>
					</ul>
				</div>

				<div class="col-md-6 col-sm-6 col-xs-12">
					<h4><i class="fa fa-search fa-fw" aria-hidden="true"></i> Exploring Potential Solutions</h4>
					<ul class="list-icon spaced check-circle">
						<li>Events across Pretoria, Durban and Cape Town encourage people to work together in teams to delve deeper into aspects of the focus areas surfaced from the accountability workshops
						</li>
						<li>Outputs of these events range from data-drive stories to visualisations and even prototype apps
						</li>
						<li>There is an opportunity for well thought through concepts to apply for grant funding to bring their vision to life
						</li>
					</ul>
				</div>
			</div>
			<div class="row featured-box-minimal">

				<div class="col-md-6 col-sm-6 col-xs-12">
					<h4><i class="fa fa-arrows-alt fa-fw" aria-hidden="true"></i>Facilitating mass engagement: Releasing the data</h4>
					<ul class="list-icon spaced check-circle">
						<li>Publishing the National Treasury data in an open and accessible format to encourage continued use of it</li>
						<li>Data will be hosted on the South African National Data Portal - data.gov.za
						</li>
						<li>A proof of concept application will be developed to allow people to explore and interact with this data
						</li>
						<li>A proof of concept application will be developed to allow people to explore and interact with this data
						</li>An <a href="https://data.municipalmoney.org.za/" target="_blank">API</a> is being developed to facilitate programmatic access to the data
					</ul>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<h4><i class="fa fa-users fa-fw"></i> Educating users</h4>
					<ul class="list-icon spaced check-circle">
						<li>End users (civil society and media) will be how to use the application</li>
						<li>Education drives to understand the available data will help socialise this undertaking</li>
					</ul>
				</div>
			</div><!--Approach box-->

			<section class="text-center">
				<h2>Get involved</h2>
				<p>
					<a data-toggle="tooltip" data-placement="bottom" title="The focus areas of the dataquest" href="https://docs.google.com/document/d/1EeWeyozSs66HY2a1V-HjwT4_QvTUPLzq2wrn2a-sI0E/edit?ts=5714c567" target="_blank" type="button" class="simple btn btn-default"><i class="fa fa-dot-circle-o"></i> Focus areas</a>
					<a data-toggle="tooltip" data-placement="bottom" title="The handout given at the April 12 workshops" href="https://drive.google.com/a/code4sa.org/file/d/0B8J3h5Thcv_GOWNPZXZWajh6T1U/view" target="_blank" type="button" class="simple btn btn-default"><i class="fa fa-file-text-o"></i> Session handout</a>
					<a data-toggle="tooltip" data-placement="bottom" title="A presentation about what data is available" href="https://drive.google.com/a/code4sa.org/file/d/0B8J3h5Thcv_Galg2a2Q0bkwxa2M/view" target="_blank" type="button" class="simple btn btn-default"><i class="fa fa-file-powerpoint-o"></i> Available data</a>
					<a data-toggle="tooltip" data-placement="bottom" title="A presentation about how budget data could be used to hold government accountable" href="https://drive.google.com/a/code4sa.org/file/d/0B8J3h5Thcv_GS1VWaXdaUXBlVW8/view" target="_blank" type="button" class="simple btn btn-default"><i class="fa fa-file-powerpoint-o"></i> Using data</a>
				</p>
			</section>

		</section>
		<hr />

		<!-- RELATED -->
		<h2><strong>Related</strong> Projects</h2>
		<div class="row">
			<ul class="sort-destination isotope" data-sort-id="isotope-list">

				{% for project in site.projects %}
				{% if project.category contains page.category and project.title != page.title %}
				<li class="col-sm-6 col-md-4 {{ project.category }}"><!-- item -->
					<div class="item-box">
						<figure>
							<a class="item-hover" href="{{ project.url }}">
								<span class="overlay color2"></span>
								<span class="inner">
									<span class="block fa fa-plus fsize20"></span>
									<strong>PROJECT</strong> DETAILS
								</span>
							</a>
							<img class="img-responsive" src="{{ project.image }}" width="260" height="260" alt="">
						</figure>

						<div class="item-box-desc">
							<h4>{{ project.title }}</h4>
						</div>
					</div>
				</li>
				{% endif %}
				{% endfor %}

			</ul>
		</div>
		<!-- /RELATED -->

	</div>
</section>
	<!-- /CONTENT -->
