---
layout: default
title: SA Newsmakers
category: cso
image: /images/projects/sa-newsmakers-logo.png
extra: 2015
link: /projects/sa-newsmakers.html
---
<!-- PAGE TOP -->
<section class="page-title">
  <div class="container">

    <header>
      <ul class="breadcrumb"><!-- breadcrumb -->
        <li><a href="/projects.html">Our Projects</a></li>
        <li class="active">{{page.title}}</li>
      </ul>
      <h2><!-- Page Title -->
        {{page.title}}
      </h2><!-- /Page Title -->

    </header>

  </div>      
</section>
<!-- /PAGE TOP -->

<!-- CONTENT -->
<section>
  <div class="container">

    <div class="row">
      <div class="col-sm-6 col-md-7">
        <div class="owl-carousel controlls-over product-image" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
          <div>
            <img alt="" class="img-responsive" src="{{page.image}}">
          </div>
        </div>

      </div>

      <div class="col-sm-6 col-md-5">
        <h3>About</h3>
        <p>Who shows up the most in South African media and why?</p>
        <a href="http://www.newstools.co.za/index.php/mediamic" target="_blank" class="btn btn-primary btn-lg btn-margin-top"><i class="fa fa-caret-right" ></i> Go To Project</a>
      </div>
    </div>

    <hr />

    <!-- RELATED -->
    <h2><strong>Related</strong> Projects</h2>
    <div class="row">
      <ul class="sort-destination isotope" data-sort-id="isotope-list">

        {% for project in site.projects %}
        {% if project.category contains page.category and project.title != page.title %}
        <li class="col-sm-6 col-md-4 {{ project.category }}"><!-- item -->
          <div class="item-box">
            <figure>
              <a class="item-hover" href="{{ project.url }}">
                <span class="overlay color2"></span>
                <span class="inner">
                  <span class="block fa fa-plus fsize20"></span>
                  <strong>PROJECT</strong> DETAILS
                </span>
              </a>
              <img class="img-responsive" src="{{ project.image }}" width="260" height="260" alt="">
            </figure>

            <div class="item-box-desc">
              <h4>{{ project.title }}</h4>
            </div>
          </div>
        </li>
        {% endif %}
        {% endfor %}

      </ul>
    </div>
    <!-- /RELATED -->

  </div>
</section>
  <!-- /CONTENT -->
