---
layout: default
title: Wazimap
category: gov cso community
image: /images/projects/wazimap-website.png
extra: 2015
link: /projects/wazimap.html
featured: true
---
<!-- PAGE TOP -->
<section class="page-title">
	<div class="container">

		<header>
			<ul class="breadcrumb"><!-- breadcrumb -->
				<li><a href="/projects.html">Our Projects</a></li>
				<li class="active">{{page.title}}</li>
			</ul>
			<h2><!-- Page Title -->
				{{page.title}}
			</h2><!-- /Page Title -->

		</header>

	</div>			
</section>
<!-- /PAGE TOP -->

<!-- CONTENT -->
<section>
	<div class="container">

		<div class="row">
			<div class="col-sm-6 col-md-7">
				<div class="owl-carousel controlls-over product-image" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
					<div>
						<img alt="" class="img-responsive" src="{{page.image}}">
					</div>
				</div>

			</div>

			<div class="col-sm-6 col-md-5">
				<h3>About</h3>
				<p>Detailed demographics and election results for everywhere in South Africa, right down to the ward level. Age, income, household goods, employment, toilets, water and other service delivery details across the country from the 2011 Census.</p>
				<a href="https://wazimap.co.za/" target="_blank" class="btn btn-primary btn-lg btn-margin-top"><i class="fa fa-caret-right" ></i> Go To Project</a>
			</div>
		</div>


		<hr />

		<!-- RELATED -->
		<h2><strong>Related</strong> Projects</h2>
		<div class="row">
			{% for project in site.projects %}
			{% if project.category == page.category and project.title != page.title %}
			<div class="col-md-3"><!-- item 1 -->
				<div class="item-box">
					<figure>
						<a class="item-hover" href="{{project.link}}">
							<span class="overlay color2"></span>
							<span class="inner">
								<span class="block fa fa-plus fsize20"></span>
								<strong>Project</strong> Details
							</span>
						</a>
						<img class="img-responsive" src="{{project.image}}" width="260" height="260" alt="">
					</figure>
					<div class="item-box-desc">
						<h4>{{project.title}}</h4>
						<small class="styleColor">{{project.extra}}</small>
					</div>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
		<!-- /RELATED -->

	</div>
</section>
	<!-- /CONTENT -->
