          <div id="header" class="sticky affix-top"> <!-- class="sticky" for sticky menu -->

            <!-- Top Nav -->
            <header id="topNav">
              <div class="container">

                <!-- Logo -->
                <a class="logo" href="/index.html">
                  <img src="/images/code4sa_logo.png" height="60" alt="" />
                </a>

                <!-- Mobile Menu Button -->
                <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                  <i class="fa fa-bars"></i>
                </button>

                <!-- Top Nav -->
                <div class="navbar-collapse nav-main-collapse collapse pull-right">
                  <nav class="nav-main">

                    <ul id="topMain" class="nav nav-pills nav-main">
                    po  <li>
                        <a href="#">Home</a>
                      </li>
                      <li>
                        <a href="/about.html">About Us</a>
                      </li>
                      <li>
                        <a href="/projects.html">Our Projects</a>
                      </li>
                      <li>
                        <a  href="/posts/index.html">Blog</a>
                      </li>
                      <li>
                        <a href="/contact.html">Contact</a>
                      </li>
                      <li>
                        <a href="/careers.html">Careers</a>
                      </li>
                    </ul>

                  </nav>
                </div>
                <!-- /Top Nav -->

              </div><!-- /.container -->
            </header>
            <!-- /Top Nav -->

          </div>