<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5XGC2TR"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <!-- JAVASCRIPT FILES -->
    <script type="text/javascript" src="/template/plugins/jquery.isotope.js"></script>
    <script type="text/javascript" src="/template/plugins/masonry.js"></script>

    <script type="text/javascript" src="/template/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/template/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="/template/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/template/plugins/flexslider/jquery.flexslider-min.js"></script>

    <!-- REVOLUTION SLIDER -->
    <script type="text/javascript" src="/template/plugins/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/template/plugins/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="/template/js/revolution_slider.js"></script>
    <script type="text/javascript" src="/template/js/scripts.js"></script>

    {% for js in page.extra_js %}
    <script src="{{ js }}"></script>
    {% endfor %}

  </body>

</html>
