<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-44046318-1', 'code4sa.org');
      ga('send', 'pageview');
    </script>

    <!-- JAVASCRIPT FILES -->
    <script type="text/javascript" src="/template/plugins/jquery.isotope.js"></script>
    <script type="text/javascript" src="/template/plugins/masonry.js"></script>

    <script type="text/javascript" src="/template/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/template/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="/template/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/template/plugins/flexslider/jquery.flexslider-min.js"></script>

    <!-- REVOLUTION SLIDER -->
    <script type="text/javascript" src="/template/plugins/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/template/plugins/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="/template/js/revolution_slider.js"></script>
    <script type="text/javascript" src="/template/js/scripts.js"></script>

    {% for js in page.extra_js %}
    <script src="{{ js }}"></script>
    {% endfor %}

  </body>

</html>
